/*! bulma.io v0.9.0 | MIT License | github.com/jgthms/bulma */
.title:not(:last-child) {
  margin-bottom: 1.5rem; }

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
h1 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  background-color: var(--blm-sch-main);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  font-family: var(--blm-family-prim); }

body {
  color: var(--blm-txt);
  font-size: 1em;
  font-weight: var(--blm-weight-normal);
  line-height: 1.5; }

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto; }

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px; }
  .container.is-fluid {
    margin-left: 32px;
    margin-right: 32px;
    max-width: none; } }

.container.is-fluid {
  margin-left: 32px;
  margin-right: 32px;
  max-width: none;
  width: auto; }

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px; } }

@media screen and (max-width: 1215px) {
  .container.is-widescreen {
    max-width: 1152px; } }

@media screen and (max-width: 1407px) {
  .container.is-fullhd {
    max-width: 1344px; } }

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px; } }

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px; } }

.title {
  word-break: break-word; }

.title em,
.title span {
  font-weight: inherit; }

.title sub {
  font-size: var(--blm-title-sub-s); }

.title sup {
  font-size: var(--blm-title-sup-s); }

.title .tag {
  vertical-align: middle; }

.title {
  color: var(--blm-title-clr);
  font-family: var(--blm-title-family);
  font-size: var(--blm-title-s);
  font-weight: var(--blm-title-weight);
  line-height: var(--blm-title-line-height); }

.title strong {
  color: var(--blm-title-strong-clr);
  font-weight: var(--blm-title-strong-weight); }

.title + .highlight {
  margin-top: -0.75rem; }

.title:not(.is-spaced) + .subtitle {
  margin-top: var(--blm-subtitle-negative-m); }

.title.is-1 {
  font-size: var(--blm-s-1); }

.title.is-2 {
  font-size: var(--blm-s-2); }

.title.is-3 {
  font-size: var(--blm-s-3); }

.title.is-4 {
  font-size: var(--blm-s-4); }

.title.is-5 {
  font-size: var(--blm-s-5); }

.title.is-6 {
  font-size: var(--blm-s-6); }

.title.is-7 {
  font-size: var(--blm-s-7); }

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: var(--blm-nav-height); }

html.has-navbar-fixed-bottom,
body.has-navbar-fixed-bottom {
  padding-bottom: var(--blm-nav-height); }

@media screen and (max-width: 1023px) {
  html.has-navbar-fixed-top-touch,
  body.has-navbar-fixed-top-touch {
    padding-top: var(--blm-nav-height); }
  html.has-navbar-fixed-bottom-touch,
  body.has-navbar-fixed-bottom-touch {
    padding-bottom: var(--blm-nav-height); } }

@media screen and (min-width: 1024px) {
  .container > .navbar .navbar-brand {
    margin-left: -0.75rem; }
  .container > .navbar .navbar-menu {
    margin-right: -0.75rem; }
  html.has-navbar-fixed-top-desktop,
  body.has-navbar-fixed-top-desktop {
    padding-top: var(--blm-nav-height); }
  html.has-navbar-fixed-bottom-desktop,
  body.has-navbar-fixed-bottom-desktop {
    padding-bottom: var(--blm-nav-height); }
  html.has-spaced-navbar-fixed-top,
  body.has-spaced-navbar-fixed-top {
    padding-top: calc(var(--blm-nav-height) + var(--blm-nav-p-vertical)*2); }
  html.has-spaced-navbar-fixed-bottom,
  body.has-spaced-navbar-fixed-bottom {
    padding-bottom: calc(var(--blm-nav-height) + var(--blm-nav-p-vertical)*2); } }

.has-text-link {
  color: var(--blm-link) !important; }

.mt-6 {
  margin-top: 3rem !important; }

:root {








































































































  --blm-s-7: 0.75rem;
  --blm-s-6: 1rem;
  --blm-s-5: 1.25rem;
  --blm-s-4: 1.5rem;
  --blm-s-1: 3rem;
  --blm-s-2: 2.5rem;
  --blm-s-3: 2rem;












  --blm-weight-normal: 400;











































































































































































  --blm-title-family: inherit;
  --blm-title-s: var(--blm-s-3);

  --blm-title-line-height: 1.125;
  --blm-title-strong-clr: inherit;
  --blm-title-strong-weight: inherit;
  --blm-subtitle-negative-m: -1.25rem;


















  --blm-nav-height: 3.25rem;





  --blm-nav-p-vertical: 1rem;









